@charset "UTF - 8";

* {
  font-family: Arial, Helvetica, sans-serif;
  /*height: 100%; */
}
body {
  background-image: linear-gradient(to right, #ff83f6, #873058);
}

main {
  background-color: #3ed0eb;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #7b2c51;
  width: 600px;
  padding: 10px;
  margin: auto;
}
h1 {
  color: #1a0e3e;
  text-align: center;
  text-shadow: 1px 1px 2px #1a0e3e;
}

h2 {
  color: #27218a;
}
p {
  text-align: justify;
  color: #1a0e3e;
}
